@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

ul {
  list-style: none;
}

.logos-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 10px 1px;
  width: 2.5rem;
  opacity: 0.79;
  bottom: 7rem;
  right: 0.2rem;
  z-index: 100;
}
.logos-container__logo-fb-svg {
  width: 2.2rem;
}
.logos-container__logo-insta-svg {
  border-radius: 1.15rem;
  width: 2.2rem;
}
.logos-container__logo-whats-svg {
  border-radius: 1.15rem;
  width: 2.2rem;
}

.arrow-top {
  height: 2rem;
  width: 2rem;
  bottom: 5rem;
  right: 0.5rem;
  position: fixed;
  z-index: 100;
}
.arrow-top #arrowTop__svg {
  height: 2rem;
  width: 2rem;
  background-color: rgba(249, 102, 129, 0.597);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s, visibility 0.5s;
  visibility: hidden;
  opacity: 0;
}
.arrow-top #arrowTop__svg.active {
  visibility: visible;
  opacity: 1;
}
.arrow-top #arrowTop__svg.inactive {
  visibility: hidden;
  opacity: 0;
}

.arrow-back__svg {
  position: absolute;
  top: 6rem;
  left: 0.3rem;
  cursor: pointer;
  width: 2.2rem;
  transform: rotate(-90deg);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  z-index: 100;
  padding: 5px;
}

.header-container {
  display: flex;
  background-color: pink;
  box-shadow: #ec7488 0 0 10px 5px;
  justify-content: center;
}
.header-container__title {
  font-family: "Dancing Script";
  font-size: 4.5rem;
  padding-bottom: 0.3rem;
}

.desc-container {
  font-family: "Lexend", sans-serif;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 0.25rem;
}
.desc-container__desc-name {
  font-size: 2rem;
  animation: tituloEfecto 2s infinite alternate;
}
.desc-container__desc-price {
  font-size: 1.5rem;
}

.products-container {
  display: flex;
  padding-top: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.products-container__ind {
  margin: 0 0.5rem;
  height: 100%;
  cursor: pointer;
  width: 12.5%;
}
.products-container__ind.modal_active {
  position: fixed;
  width: 25rem;
  height: 10rem;
  display: flex;
  align-items: center;
  margin-top: 4.5rem;
  top: 25%;
  left: 35%;
}
.products-container__ind.modal_active__ind-img {
  position: relative;
}
.products-container__ind.modal_active::after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 0;
}
.products-container__ind-img {
  border-radius: 1rem;
  padding: 0.3rem 0.3rem 0;
  z-index: 1;
  object-fit: cover;
  width: 100%;
}

@keyframes tituloEfecto {
  0% {
    color: black;
  }
  100% {
    color: #e63d59;
  }
}
.table-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 2rem;
  font-family: "Lexend", sans-serif;
  align-items: center;
}
.table-container__title {
  animation: tituloEfecto 2s infinite alternate;
  align-self: center;
  font-size: 2rem;
}
.table-container__desc {
  align-self: center;
  font-size: 1.2rem;
  margin-top: 0.8rem;
  background-color: pink;
  border: black 2px solid;
}
.table-container__desc-tr {
  border: black 2px solid;
}
.table-container #caract {
  padding: 0.25rem;
  margin: 0;
}
.table-container #info {
  width: 50%;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 450px) {
  .header-container__title {
    font-size: 3.5rem;
  }

  .desc-container {
    margin: 0.5rem 3rem 0;
  }
  .desc-container__desc-name {
    font-size: 1.5rem;
  }
  .desc-container__desc-price {
    font-size: 1.25rem;
    padding-top: 0.25rem;
  }

  .products-container__ind {
    width: 50%;
    margin: 0;
  }
  .products-container__ind.modal_active {
    width: 17rem;
    height: 17rem;
    top: 6.5%;
    left: 7%;
    z-index: 100;
  }

  .table-container__title {
    font-size: 1.5rem;
  }
  .table-container__desc {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 450px) and (min-width: 375px) and (max-width: 424px) {
  .products-container__ind.modal_active {
    width: 17rem;
    height: 17rem;
    top: 8%;
    left: 14%;
    z-index: 100;
  }
}
@media only screen and (max-width: 450px) and (min-width: 425px) and (max-width: 767px) {
  .products-container__ind.modal_active {
    width: 17rem;
    height: 17rem;
    top: 9%;
    left: 18%;
    z-index: 100;
  }
}
@media only screen and (min-width: 451px) and (max-width: 767px) {
  .products-container__ind {
    width: 33.3%;
    margin: 0;
  }
  .products-container__ind.modal_active {
    width: 17rem;
    height: 17rem;
    top: 10%;
    left: 33%;
    z-index: 100;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .products-container__ind {
    width: 25%;
    margin: 0;
  }
  .products-container__ind.modal_active {
    width: 17rem;
    height: 17rem;
    top: 10%;
    left: 33%;
    z-index: 100;
  }
}
@media only screen and (min-width: 1024px) {
  .products-container__ind {
    width: 15%;
    margin: 0;
  }
  .products-container__ind.modal_active {
    width: 19rem;
    height: 19rem;
    top: 7%;
    left: 37%;
    z-index: 100;
  }
}