@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

ul {
  list-style: none;
}

.sliderBolsas {
  width: 100%;
  margin: auto;
  padding: 1rem 0 0;
  overflow: hidden;
}
.sliderBolsas > ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: sliderBolsas 15s linear infinite alternate;
}
.sliderBolsas > ul > li {
  width: 100%;
  text-align: center;
}
.sliderBolsas > ul > li > img {
  width: 50%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-100%);
  }
  35% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-200%);
  }
  55% {
    transform: translateX(-300%);
  }
  70% {
    transform: translateX(-300%);
  }
  75% {
    transform: translateX(-400%);
  }
  90% {
    transform: translateX(-400%);
  }
  95% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(-500%);
  }
}
@keyframes sliderBolsas {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.logoFb > img,
.logoInsta > img,
.logoWhats > img {
  display: inline-block;
  padding: 5px;
  width: 2.9rem;
  border-radius: 0.7rem;
  opacity: 0.79;
}

.logoFb {
  bottom: 7rem;
  right: 0.2rem;
  position: fixed;
  z-index: 1000;
}

.logoInsta {
  bottom: 9.5rem;
  right: 0.2rem;
  position: fixed;
  z-index: 1000;
}
.logoInsta > img {
  border-radius: 1rem;
}

.logoWhats {
  bottom: 12rem;
  right: 0.2rem;
  position: fixed;
  z-index: 1000;
}
.logoWhats > img {
  border-radius: 1rem;
}

.flechaArriba > a > img {
  height: 2rem;
  width: 2rem;
  background-color: rgba(249, 102, 129, 0.597);
  bottom: 5rem;
  right: 0.5rem;
  z-index: 1000;
  border-radius: 10%;
  position: fixed;
  transition: opacity 0.5s, visibility 0.5s;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flechaArriba > a > img.active {
  visibility: visible;
  opacity: 1;
}
.flechaArriba > a > img.inactive {
  visibility: hidden;
  opacity: 0;
}

header {
  display: flex;
  flex-direction: column;
  background-color: pink;
  box-shadow: #ec7488 0 0 10px 5px;
}
header .headerTexto {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}
header .headerTexto > a > h1 {
  font-family: "Dancing Script";
  font-size: 4.5rem;
}
header .headerTexto > img {
  height: 4rem;
  width: 3.5rem;
  padding-left: 0.5rem;
}
header > nav {
  padding: 0.5px 0 0;
}
header > nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  font-weight: bold;
  color: black;
  font-family: "Lexend", sans-serif;
}
header > nav > ul > li > a {
  transition: color 0.2s;
  font-size: 1.95rem;
}
header > nav > ul > li > a:hover {
  color: #e63d59;
}

@keyframes tituloEfecto {
  0% {
    color: black;
  }
  100% {
    color: #e63d59;
  }
}
.productos {
  display: flex;
  padding-top: 3rem;
  font-family: "Lexend", sans-serif;
  flex-direction: column;
  align-items: center;
}
.productos .productosTitulo {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  animation: tituloEfecto 2s infinite alternate;
}
.productos .productosCatalogo {
  display: flex;
  flex-wrap: wrap;
}
.productos .productosCatalogo .contenedorCatalogoProductos {
  padding: 0.5rem 0;
}
.productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos {
  width: 200px;
  height: 400px;
  padding: 0.5rem 0.5rem 0;
  border: 3px solid pink;
  background-color: rgba(255, 192, 203, 0.412);
  border-radius: 0.5rem;
}
.productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosImg > a > img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosTexto .contenedorProductosP {
  height: 20%;
}
.productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorBotonDetalles {
  bottom: 0.1rem;
  position: relative;
  justify-content: center;
  display: flex;
}
.productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorBotonDetalles > a > button {
  background: linear-gradient(pink, white);
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 2px;
  color: black;
  margin: 5px 0 5px;
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .productos .productosCatalogo .contenedorCatalogoProductos {
    justify-content: center;
    display: flex;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos {
    -webkit-transition: 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos:hover {
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
    background-color: pink;
    border-radius: 0.5rem;
  }
}
.contacto {
  display: flex;
  flex-direction: column;
  font-family: "Lexend", sans-serif;
  margin: 3rem 0 0;
  padding: 0.5rem 0 1rem;
  background-color: pink;
}
.contacto .contactoTitulo {
  font-size: 1.5rem;
  animation: tituloEfecto 2s infinite alternate;
  align-self: center;
}
.contacto .contactoMapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacto .contactoMapa > h3 {
  font-size: 1.25rem;
  text-align: center;
}
.contacto .contactoMapa > h4 {
  font-size: 1.1rem;
  padding: 0 20px 7px;
  text-align: center;
  color: #e62444;
}
.contacto .contactoMapa > iframe {
  width: 100%;
  height: 50vh;
  align-self: center;
  text-align: center;
}
.contacto .contactoMapa .contenedorBotonMapa {
  display: flex;
  justify-content: center;
}
.contacto .contactoMapa .contenedorBotonMapa .botonMapa {
  justify-content: center;
  align-content: center;
}
.contacto .contactoMapa .contenedorBotonMapa .botonMapa > a > button {
  background: linear-gradient(pink, white);
  border: 1.75px solid black;
  border-radius: 0.25rem;
  padding: 3px;
  color: black;
  font-family: "Lexend", sans-serif;
  font-size: 1.15rem;
  cursor: pointer;
  margin: 5px 1px 5px;
  font-weight: bold;
}
.contacto .contactoTelefono {
  display: flex;
  padding-bottom: 1.2rem;
  flex-direction: column;
  align-items: center;
}
.contacto .contactoTelefono .contactoTelefonoNumero > a {
  font-size: 1.75rem;
  text-align: center;
}
.contacto .contactoTelefono .contactoTelefonoTexto > h4 {
  font-size: 1rem;
  text-align: center;
}

@media only screen and (min-width: 0px) and (max-width: 423px) {
  html {
    width: 100%;
  }

  header {
    width: 100%;
    align-self: stretch;
    justify-content: space-around;
  }
  header .headerTexto {
    padding-top: 0.25rem;
  }
  header .headerTexto > a > h1 {
    font-size: 3.3rem;
    padding-left: 0.2rem;
  }
  header > nav {
    justify-content: center;
  }
  header > nav > ul > li > a {
    font-size: 1.3rem;
    padding-left: 0.4rem;
  }

  .sliderBolsas > ul > li > img {
    width: 100%;
  }

  .productos {
    animation: none;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos {
    justify-content: center;
    display: flex;
    width: 50%;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos {
    border: 3px solid pink;
    background-color: rgba(255, 192, 203, 0.412);
    margin: 0.5rem;
    border-radius: 0.4rem;
    width: 9rem;
    height: fit-content;
    padding: 0.5rem 0.5rem 0;
    flex-wrap: wrap;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosImg {
    margin: 0;
    height: fit-content;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosTexto {
    height: 3.375rem;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosTexto .contenedorProductosP {
    font-size: 0.9rem;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosTexto .contenedorProductosP > p {
    font-size: 0.9rem;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorBotonDetalles {
    display: flex;
    justify-content: center;
    height: 25%;
    align-self: center;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorBotonDetalles > a > button {
    background: linear-gradient(pink, white);
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 2px;
    color: black;
    margin: 5px 0 5px;
    font-family: "Lexend", sans-serif;
    font-size: 0.845rem;
    cursor: pointer;
  }
}
@media only screen and (min-width: 424px) and (max-width: 549px) {
  html {
    width: 100%;
  }

  header {
    width: 100%;
    align-self: stretch;
    justify-content: space-around;
  }
  header .headerTexto {
    padding-top: 0.25rem;
  }
  header .headerTexto > a > h1 {
    font-size: 3.3rem;
    padding-left: 0.2rem;
  }
  header > nav {
    justify-content: center;
  }
  header > nav > ul > li > a {
    font-size: 1.3rem;
    padding-left: 0.4rem;
  }

  .sliderBolsas > ul > li > img {
    width: 100%;
  }

  .productos {
    animation: none;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos {
    justify-content: center;
    display: flex;
    width: 33.3%;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos {
    border: 3px solid pink;
    background-color: rgba(255, 192, 203, 0.412);
    margin: 0.5rem;
    border-radius: 0.4rem;
    width: 9rem;
    height: fit-content;
    padding: 0.5rem 0.5rem 0;
    flex-wrap: wrap;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosImg {
    margin: 0;
    height: fit-content;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosTexto {
    height: 4.5rem;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosTexto .contenedorProductosP {
    font-size: 0.9rem;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorBotonDetalles {
    justify-content: center;
    display: flex;
    height: 25%;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorBotonDetalles > a > button {
    background: linear-gradient(pink, white);
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 2px;
    color: black;
    margin: 5px 5px 5px;
    font-family: "Lexend", sans-serif;
    font-size: 0.845rem;
    cursor: pointer;
  }
}
@media only screen and (min-width: 550px) and (max-width: 644px) {
  html {
    width: 100%;
  }

  header {
    width: 100%;
    align-self: stretch;
    justify-content: space-around;
  }
  header .headerTexto {
    padding-top: 0.25rem;
  }
  header .headerTexto > a > h1 {
    font-size: 3.3rem;
    padding-left: 0.2rem;
  }
  header > nav {
    justify-content: center;
  }
  header > nav > ul > li > a {
    font-size: 1.3rem;
    padding-left: 0.4rem;
  }

  .sliderBolsas > ul > li > img {
    width: 100%;
  }

  .productos {
    animation: none;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos {
    justify-content: center;
    display: flex;
    width: 25%;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos {
    border: 3px solid pink;
    background-color: rgba(255, 192, 203, 0.412);
    margin: 0.5rem;
    border-radius: 0.4rem;
    width: 10rem;
    height: fit-content;
    padding: 0.5rem 0.5rem 0;
    flex-wrap: wrap;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosImg {
    margin: 0;
    height: fit-content;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosTexto {
    height: 4.5rem;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosTexto .contenedorProductosP {
    font-size: 0.9rem;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorBotonDetalles {
    justify-content: center;
    display: flex;
    height: 25%;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorBotonDetalles > a > button {
    background: linear-gradient(pink, white);
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 2px;
    color: black;
    margin: 5px 5px 5px;
    font-family: "Lexend", sans-serif;
    font-size: 0.845rem;
    cursor: pointer;
  }
}
@media only screen and (min-width: 645px) and (max-width: 800px) {
  .sliderBolsas > ul > li > img {
    width: 70%;
  }

  .productos {
    animation: none;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos {
    justify-content: center;
    display: flex;
    width: 25%;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos {
    border: 3px solid pink;
    background-color: rgba(255, 192, 203, 0.412);
    margin: 0.5rem;
    border-radius: 0.4rem;
    width: 10rem;
    height: fit-content;
    padding: 0.5rem 0.5rem 0;
    flex-wrap: wrap;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosImg {
    margin: 0;
    height: fit-content;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosTexto {
    height: 3.375rem;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosTexto .contenedorProductosP {
    font-size: 0.9rem;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorBotonDetalles {
    justify-content: center;
    display: flex;
    height: 25%;
    margin-bottom: 1rem;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorBotonDetalles > a > button {
    background: linear-gradient(pink, white);
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 2px;
    color: black;
    margin: 5px 5px 5px;
    font-family: "Lexend", sans-serif;
    font-size: 0.845rem;
    cursor: pointer;
  }
}
@media only screen and (min-width: 801px) and (max-width: 930px) {
  .productos {
    animation: none;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos {
    justify-content: center;
    display: flex;
    width: 20%;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos {
    border: 3px solid pink;
    background-color: rgba(255, 192, 203, 0.412);
    margin: 0.5rem;
    border-radius: 0.4rem;
    width: 100%;
    height: fit-content;
    padding: 0.5rem 0.5rem 0;
    flex-wrap: wrap;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosImg {
    margin: 0;
    height: fit-content;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosTexto {
    height: 3.375rem;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosTexto .contenedorProductosP {
    font-size: 0.9rem;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorBotonDetalles {
    justify-content: center;
    display: flex;
    height: 25%;
    margin-bottom: 1rem;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorBotonDetalles > a > button {
    background: linear-gradient(pink, white);
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 2px;
    color: black;
    margin: 5px 5px 5px;
    font-family: "Lexend", sans-serif;
    font-size: 0.845rem;
    cursor: pointer;
  }
}
@media only screen and (min-width: 931px) {
  .productos .productosCatalogo .contenedorCatalogoProductos {
    justify-content: center;
    display: flex;
    width: 20%;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos {
    border: 3px solid pink;
    background-color: rgba(255, 192, 203, 0.412);
    margin: 1rem;
    border-radius: 0.4rem;
    width: 100%;
    height: fit-content;
    padding: 0.5rem 0.5rem 0;
    flex-wrap: wrap;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosImg {
    margin: 0;
    height: fit-content;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosTexto {
    height: 3.375rem;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorProductosTexto .contenedorProductosP {
    font-size: 0.9rem;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorBotonDetalles {
    justify-content: center;
    display: flex;
    margin-bottom: 1rem;
  }
  .productos .productosCatalogo .contenedorCatalogoProductos .contenedorProductos .contenedorBotonDetalles > a > button {
    background: linear-gradient(pink, white);
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 2px;
    color: black;
    margin: 5px 5px 5px;
    font-family: "Lexend", sans-serif;
    font-size: 0.845rem;
    cursor: pointer;
  }
}