//flecha-arriba
.arrow-top {
	height: 2rem;
	width: 2rem;
	bottom: 5rem;
	right: 0.5rem;
	position: fixed;
	z-index: 100;

	#arrowTop__svg {
		height: 2rem;
		width: 2rem;
		background-color: rgba(249, 102, 129, 0.597);
		border-radius: 10%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: opacity 0.5s,
			visibility 0.5s;
		visibility: hidden;
		opacity: 0;

		&.active {
			visibility: visible;
			opacity: 1;
		}

		&.inactive {
			visibility: hidden;
			opacity: 0;
		}
	}
}

//flecha-regreso al inicio
.arrow-back {
	&__svg{
		position: absolute;
		top: 6rem;
		left: 0.3rem;
		cursor: pointer;
		width: 2.2rem;
		transform: rotate(-90deg);
		border-radius: 0.3rem;
		-webkit-border-radius: 0.3rem;
		z-index: 100;
		padding: 5px;
	}
}