.contenedorBolsa {
	display: flex;
	font-family: "Lexend", sans-serif;
	padding-top: 0.5rem;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;

	.contenedorBolsaTextos {
		display: flex;
		flex-direction: column;
		align-items: center;

		.contenedorBolsaNombre {
			font-size: 1rem;
			animation: tituloEfecto 2s infinite alternate;
			margin: 0 3rem 0;
			text-align: center;
		}

		.contenedorBolsaPrecio {
			font-size: 0.8rem;
		}
	}

	.contenedorBolsaGrafico {
		background-color: pink;
		display: flex;
		flex-wrap: wrap;

		.contenedorBolsaImagenes {
			width: 9rem;
			display: flex;
			background-color: green;
			justify-content: center;

			.contenedorIndBolsa {
				align-self: center;
				background-color: purple;
				height: fit-content;
				flex-wrap: wrap;

				.contenedorImgBolsa {
					background-color: salmon;

					>img {
						width: 100%;
						border-radius: 1rem;
						object-fit: cover;
						padding: 0 .3rem;
					}
				}
			}
		}
	}
}