.contenedorBolsa {
	display: flex;
	font-family: "Lexend", sans-serif;
	padding-top: 0.5rem;
	align-items: center;
	flex-direction: column;

	.contenedorBolsaTitulo {
		.contenedorBolsaTextos {
			display: flex;
			flex-direction: column;
			align-items: center;

			.contenedorBolsaNombre {
				font-size: 1rem;
				animation: tituloEfecto 2s infinite alternate;
				margin: 0 3rem 0;
				text-align: center;
			}

			.contenedorBolsaPrecio {
				font-size: 0.8rem;
			}
		}
	}


	.contenedorBolsaGrafico {
		display: flex;
		flex-wrap: wrap;
		margin: 0 .5rem;

		.contenedorBolsaApi {
			.contenedorBolsaImagenes {
				width: 100%;

				.contenedorIndBolsa {
					width: 100%;
					height: 100%;

					.contenedorImgBolsa {
						height: 100%;

						>img {
							width: 100%;
							border-radius: 1rem;
							object-fit: cover;
							padding: .3rem .3rem 0;
						}
					}
				}
			}
		}
	}
}