.contenedorBolsa {
	display: flex;
	font-family: "Lexend", sans-serif;
	padding-top: 0.5rem;
	align-items: center;
	flex-direction: column;

	.contenedorBolsaTitulo {
		.contenedorBolsaTextos {
			display: flex;
			flex-direction: column;
			align-items: center;

			.contenedorBolsaNombre {
				font-size: 1rem;
				animation: tituloEfecto 2s infinite alternate;
				margin: 0 3rem 0;
				text-align: center;
			}

			.contenedorBolsaPrecio {
				font-size: 0.8rem;
			}
		}
	}


	.contenedorBolsaGrafico {
		display: flex;
		flex-wrap: wrap;
		margin: 0 .5rem;

		.contenedorBolsaApi {
			.contenedorBolsaImagenes {
				width: 100%;

				.contenedorIndBolsa {
					width: 100%;
					height: 100%;
					cursor: pointer;

					.contenedorImgBolsa {
						height: 100%;

						>img {
							width: 100%;
							border-radius: 1rem;
							object-fit: cover;
							padding: .3rem .3rem 0;
							z-index: 1;
						}

						&.modal_active{
							position: fixed;
							width: 100vw;
							height: 100vh;
							display: flex;
							align-items: center;
							justify-content: center;
							top: 0;
							left: 0;

							&::after{
								content: "";
								position: fixed;
								width: 100vw;
								height: 100vh;
								top: 0;
								left: 0;
								background-color: rgba(0, 0, 0, 0.5);
								z-index: 0;
							}
						}
					}
				}
			}
		}
	}
}