@media only screen and (min-width: 768px) and (max-width: 991px) {
	.contenedorBolsa {
		.contenedorBolsaGrafico {
			margin: 0 1rem;

			.contenedorBolsaApi {
				width: 33.3%;
				display: flex;

				.contenedorBolsaImagenes {


					.contenedorIndBolsa {

						.contenedorImgBolsa {
							height: fit-content;

							&.modal_active {
								width: 21rem;
								height: 19rem;
								top: 6%;
								left: 28%;
								z-index: 100;
							}
						}
					}
				}
			}
		}
	}
}