@media only screen and (min-width: 1310px) {
	.products-container {
		&__ind {
			width: 15%;
			margin: 0;

			&.modal_active {
				width: 22rem;
				height: 22rem;
				top: 8%;
				left: 40%;
				z-index: 100;

				.close-modal {
					top: -5rem;
					right: -28rem;
				}
			}
		}
	}
}