@media only screen and (min-width: 1024px) {
	.products-container {
		&__ind {
			width: 15%;
			margin: 0;

			&.modal_active {
				width: 19rem;
				height: 19rem;
				top: 7%;
				left: 37%;
				z-index: 100;
			}
		}
	}
}