@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.contenedorBolsa {
		.contenedorBolsaGrafico {
			margin: 0 1.5rem;

			.contenedorBolsaApi {
				width: 25%;
				display: flex;

				.contenedorBolsaImagenes {


					.contenedorIndBolsa {

						.contenedorImgBolsa {
							height: fit-content;

							&.modal_active {
								width: 21rem;
								height: 18rem;
								top: 7.5%;
								left: 35%;
								z-index: 100;
							}
						}
					}
				}
			}
		}
	}
}