header {
	display: flex;
	flex-direction: column;
	background-color: pink;
	box-shadow: rgb(236, 116, 136) 0 0 10px 5px;

	.headerTexto {
		display: flex;
		align-items: center;
		justify-content: center;
		align-self: stretch;

		>a {
			>h1 {
				font-family: "Dancing Script";
				font-size: 4.5rem;
			}
		}

		>img {
			height: 4rem;
			width: 3.5rem;
			padding-left: 0.5rem;
		}
	}

	>nav {
		padding: 0.5px 0 0;

		>ul {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin: 0;
			font-weight: bold;
			color: black;
			font-family: "Lexend", sans-serif;

			>li {
				>a {
					transition: color 0.2s;
					font-size: 1.95rem;

					&:hover {
						color: rgb(230, 61, 89);
					}
				}
			}
		}
	}
}

// Animación header
@keyframes tituloEfecto {
	0% {
		color: black;
	}

	100% {
		color: rgb(230, 61, 89);
	}
}