.header-container {
	display: flex;
	flex-direction: column;
	background-color: pink;
	box-shadow: rgb(236, 116, 136) 0 0 10px 5px;

	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		align-self: stretch;
		font-family: "Dancing Script";
		font-size: 2.25rem;
	}

	&__nav {
		padding: 0.5px 0 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 0;
		font-weight: bold;
		color: black;
		font-family: "Lexend",
		sans-serif;
	}

	&__nav-a{
		transition: color 0.2s;
		font-size: 1.95rem;

		&:hover {
			color: rgb(230, 61, 89);
		}
	}
}