doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="detallesBolsas.css")
		link(id="pageIcon", rel="shortcut icon", href="iconoLogo/iconoLogoAB.png")
		title Angeline Bags | Detalles
	body 
	//rrss íconos
	a(href="https://www.facebook.com/Angeline-Bags-116249993559397/" target="_blank")
		.logoFb 
			img(src="svg/facebookLogo.svg", alt="")
	a(href="https://www.instagram.com/angelinebags/?hl=es" target="_blank")
		.logoInsta
			img(src="svg/instaLogo.svg", alt="")
	a(href="" target="_blank")
		.logoWhats
			img(src="svg/whatsLogo.svg", alt="")
	
	//flecha-arriba
	a#upArrow(href="#principal")
		img(src="svg/flechaIrArriba.svg", alt="")

	//flecha-regreso al inicio
	a#backArrow(href="index.html#productos") 
		img(src="svg/flechaIrArriba.svg", alt="")

	//header
	header#principal
		.headerTexto
			h1 Angeline Bags

	//bolsa
	.contenedorBolsa
		.contenedorBolsaNombre
			h2 BOLSA AMARILLA
		.contenedorBolsaPrecio 
			h2 $340.00 mxn
		.contenedorBolsaImagenes
			img(src="imagenesBolsas/bolsaPrueba.jpg", alt="")
			img(src="imagenesBolsas/bolsaPrueba.jpg", alt="")

	//características
	.contenedorCaracteristicas
		.contenedorCaracteristicasTitulo
			h2 CARACTERÍSTICAS
		.contenedorCaracteristicasTabla
			table
				tr
					td#caract Tamaño:
					td#info Mediana
				tr
					td#caract Alto:
					td#info 50 cms
				tr
					td#caract Largo:
					td#info 28 cms
				tr
					td#caract Ancho:
					td#info 30 cms
				tr
					td#caract Largo del asa:
					td#info 35 cms
				tr
					td#caract Material:
					td#info Toquilla
