doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="style.css")
		link(id="pageIcon", rel="shortcut icon", href="iconoLogo/iconoLogoAB.png")
		script(src="script.js") 
		title Angeline Bags
	body
		// includes
		include pug/mixinBolsas
		
		//rrss íconos
		a(href="https://www.facebook.com/Angeline-Bags-116249993559397/" target="_blank")
			.logoFb 
				img(src="svg/facebookLogo.svg", al)
		a(href="https://www.instagram.com/angelinebags/?hl=es" target="_blank")
			.logoInsta
				img(src="svg/instaLogo.svg", al)
		a(hre target="_blank")
			.logoWhats
				img(src="svg/whatsLogo.svg", al)
		
		//flecha-arriba
		a#upArrow(href="#principal")
			img(src="svg/flechaIrArriba.svg", al)

		//header
		header#principal
			.headerTexto
				h1 Angeline Bags
			nav
				ul
					li: a(href="#productos") PRODUCTOS 
					li: a(href="#contacto") CONTACTO

		// slider
		.sliderBolsas 
			ul
				li 
					img(src="imagenesSlider/bolsasSlider.jpg", al)
				li 
					img(src="imagenesSlider/bolsasSlider2.jpg", al)
				li 
					img(src="imagenesSlider/bolsasSlider.jpg", al)
				li 
					img(src="imagenesSlider/bolsasSlider2.jpg", al)
		
		// productos
		.productos#productos 
			.productosTitulo 
				h2 PRODUCTOS
			.productosCatalogo 
				+productos("Bolsa blanco con azul y flores", "Tamaño: Mediana", "$490.00 MXN", "Ver detalles", "imagenesBolsas/bolsaPrueba.jpg")
				+productos("Bolsa negra", "Tamaño: Mediana", "$390.00 MXN", "Ver detalles", "imagenesBolsas/bolsaPrueba2.jpg")
				+productos("Bolsa arcoiris", "Tamaño: Chica", "$250.00 MXN", "Ver detalles", "imagenesBolsas/bolsaPrueba3.jpg")
				+productos("Bolsa beige", "Tamaño: Chica", "$320.00 MXN", "Ver detalles", "imagenesBolsas/bolsaPrueba4.jpg")
				+productos("Bolsa playera", "Tamaño: Extra grande", "$690.00 MXN", "Ver detalles", "imagenesBolsas/bolsaPrueba5.jpg")
				+productos("Bolsa rosa con gris", "Tamaño: Grande", "$490.00 MXN", "Ver detalles", "imagenesBolsas/bolsaPrueba6.jpg")
				+productos("Bolsa negro con azul", "Tamaño: Chica", "$250.00 MXN", "Ver detalles", "imagenesBolsas/bolsaPrueba7.jpg")
				+productos("Mochila blanco con rosa", "Tamaño: Chica", "$390.00 MXN", "Ver detalles",  "imagenesBolsas/bolsaPrueba8.jpg")

		// contacto
	.contacto#contacto
		.contactoTitulo
			h2 CONTACTO
		.contactoTelefono
			.contactoTelefonoNumero
				a(href="tel:+529981117490"): h4 998 111 74 90
			.contactoTelefonoTexto
				h4 (Haz clic para llamar)