//imports de fuentes
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

//slider
@keyframes slide {
 0% {
  transform: translateX(0);
 }

 10% {
  transform: translateX(0);
 }

 15% {
  transform: translateX(-100%);
 }

 30% {
  transform: translateX(-100%);
 }

 35% {
  transform: translateX(-200%);
 }

 50% {
  transform: translateX(-200%);
 }

 55% {
  transform: translateX(-300%);
 }

 70% {
  transform: translateX(-300%);
 }

 75% {
  transform: translateX(-400%);
 }

 90% {
  transform: translateX(-400%);
 }

 95% {
  transform: translateX(-500%);
 }

 100% {
  transform: translateX(-500%);
 }
}

//configuraciones generales
* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

a {
 text-decoration: none;
 color: black;

 &:visited {
  color: black;
 }
}

ul {
 list-style: none;
}

//rrss íconos
.logoFb,
.logoInsta,
.logoWhats {
 >img {
  display: inline-block;
  padding: 5px;
  width: 2.9rem;
  border-radius: 0.7rem;
  opacity: 0.79;
 }
}

.logoFb {
 bottom: 7rem;
 right: 0.2rem;
 position: fixed;
 z-index: 1000;
}

.logoInsta {
 bottom: 9.5rem;
 right: 0.2rem;
 position: fixed;
 z-index: 1000;

 >img {
  border-radius: 1rem;
 }
}

.logoWhats {
 bottom: 12rem;
 right: 0.2rem;
 position: fixed;
 z-index: 1000;

 >img {
  border-radius: 1rem;
 }
}

//flecha-arriba
.flechaArriba {
 >a {
  >img {
   height: 2rem;
   width: 2rem;
   background-color: rgba(249, 102, 129, 0.597);
   bottom: 5rem;
   right: 0.5rem;
   z-index: 1000;
   border-radius: 10%;
   position: fixed;
   transition: opacity 0.5s, visibility 0.5s;
   visibility: hidden;
   opacity: 0;
   display: flex;
   justify-content: center;
   align-items: center;

   &.active {
    visibility: visible;
    opacity: 1;
   }

   &.inactive {
    visibility: hidden;
    opacity: 0;
   }
  }
 }
}

// Header
header {
 display: flex;
 flex-direction: column;
 background-color: pink;
 box-shadow: rgb(236, 116, 136) 0 0 10px 5px;

 .headerTexto {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;

  >a {
   >h1 {
    font-family: "Dancing Script";
    font-size: 4.5rem;
   }
  }

  >img {
   height: 4rem;
   width: 3.5rem;
   padding-left: 0.5rem;
  }
 }

 >nav {
  padding: 0.5px 0 0;

  >ul {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 0;
   font-weight: bold;
   color: black;
   font-family: "Lexend", sans-serif;

   >li {
    >a {
     transition: color 0.2s;
     font-size: 1.95rem;

     &:hover {
      color: rgb(230, 61, 89);
     }
    }
   }
  }
 }
}

// Slider
.sliderBolsas {
 width: 100%;
 margin: auto;
 padding: 1rem 0 0;
 overflow: hidden;

 >ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: sliderBolsas 15s linear infinite alternate;

  >li {
   width: 100%;
   text-align: center;

   >img {
    width: 50%;
   }
  }
 }
}

// Productos
.productos {
 display: flex;
 padding-top: 3rem;
 font-family: "Lexend", sans-serif;
 flex-direction: column;
 align-items: center;

 .productosTitulo {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  animation: tituloEfecto 2s infinite alternate;
 }

 .productosCatalogo {
  display: flex;
  flex-wrap: wrap;

  .contenedorCatalogoProductos {
   padding: .5rem 0;

   .contenedorProductos {
    width: 200px;
    height: 400px;
    padding: 0.5rem 0.5rem 0;
    border: 3px solid pink;
    background-color: rgba(255, 192, 203, 0.412);
    border-radius: 0.5rem;

    .contenedorProductosImg {
     >a {
      >img {
       width: 100%;
       object-fit: cover;
       border-radius: 5px;
      }
     }
    }

    .contenedorProductosTexto {
     .contenedorProductosP {
      height: 20%;
     }
    }

    .contenedorBotonDetalles {
     bottom: .1rem;
     position: relative;
     justify-content: center;
     display: flex;

     >a {
      >button {
       background: linear-gradient(pink, white);
       border: 1px solid black;
       border-radius: 0.25rem;
       padding: 2px;
       color: black;
       margin: 5px 0 5px;
       font-family: "Lexend", sans-serif;
       font-size: 1rem;
       cursor: pointer;
      }
     }
    }
   }
  }
 }
}

// Contacto
.contacto {
 display: flex;
 flex-direction: column;
 font-family: "Lexend", sans-serif;
 margin: 3rem 0 0;
 padding: 0.5rem 0 1rem;
 background-color: pink;

 .contactoTitulo {
  font-size: 1.5rem;
  animation: tituloEfecto 2s infinite alternate;
  align-self: center;
 }

 .contactoMapa {
  display: flex;
  flex-direction: column;
  justify-content: center;

  >h3 {
   font-size: 1.25rem;
   text-align: center;
  }

  >h4 {
   font-size: 1.1rem;
   padding: 0 20px 7px;
   text-align: center;
   color: rgb(230, 36, 68);
  }

  >iframe {
   width: 100%;
   height: 50vh;
   align-self: center;
   text-align: center;
  }

  .contenedorBotonMapa {
   display: flex;
   justify-content: center;

   .botonMapa {
    justify-content: center;
    align-content: center;

    >a {
     >button {
      background: linear-gradient(pink, white);
      border: 1.75px solid black;
      border-radius: 0.25rem;
      padding: 3px;
      color: black;
      font-family: "Lexend", sans-serif;
      font-size: 1.15rem;
      cursor: pointer;
      margin: 5px 1px 5px;
      font-weight: bold;
     }
    }
   }
  }
 }



 .contactoTelefono {
  display: flex;
  padding-bottom: 1.2rem;
  flex-direction: column;
  align-items: center;

  .contactoTelefonoNumero {
   >a {
    font-size: 1.75rem;
    text-align: center;
   }
  }

  .contactoTelefonoTexto {
   >h4 {
    font-size: 1rem;
    text-align: center;
   }
  }
 }
}

//animación Título header
@keyframes tituloEfecto {
 0% {
  color: black;
 }

 100% {
  color: rgb(230, 61, 89);
 }
}

//animación SliderBolsas
@keyframes sliderBolsas {
 0% {
  margin-left: 0;
 }

 20% {
  margin-left: 0;
 }

 25% {
  margin-left: -100%;
 }

 45% {
  margin-left: -100%;
 }

 50% {
  margin-left: -200%;
 }

 70% {
  margin-left: -200%;
 }

 75% {
  margin-left: -300%;
 }

 100% {
  margin-left: -300%;
 }
}

//media Html
@media only screen and (max-width: 568px) {
 html {
  width: 100%;
 }
}

//media Header
@media only screen and (max-width: 568px) {
 header {
  width: 100%;
  align-self: stretch;
  justify-content: space-around;

  .headerTexto {
   padding-top: 0.25rem;

   >a {
    >h1 {
     font-size: 3.3rem;
     padding-left: 0.2rem;
    }
   }
  }

  >nav {
   justify-content: center;

   >ul {
    >li {
     >a {
      font-size: 1.3rem;
      padding-left: 0.4rem;
     }
    }
   }
  }
 }
}

//media SliderBolsas
@media only screen and (max-width: 600px) {
 .sliderBolsas {
  >ul {
   >li {
    >img {
     width: 100%;
    }
   }
  }
 }
}

@media only screen and (min-width: 735px) and (max-width: 1000px) {
 .sliderBolsas {
  >ul {
   >li {
    >img {
     width: 80%;
    }
   }
  }
 }

 #productos {
  animation: none;

  .productosCatalogo {
   animation: none;

   .contenedorCatalogoProductos {
    .contenedorProductos {
     border: 3px solid pink;
     background-color: rgba(255, 192, 203, 0.412);
     margin: 0.5rem;
    }
   }
  }
 }
}

//media Productos
@media only screen and (min-width: 0px) and (max-width: 423px) {
 .productos {
  animation: none;

  .productosCatalogo {
   .contenedorCatalogoProductos {
    justify-content: center;
    display: flex;
    width: 50%;

    .contenedorProductos {
     border: 3px solid pink;
     background-color: rgba(255, 192, 203, 0.412);
     margin: 0.5rem;
     border-radius: 0.4rem;
     width: 9rem;
     height: fit-content;
     padding: 0.5rem 0.5rem 0;
     flex-wrap: wrap;


     .contenedorProductosImg {
      margin: 0;
      height: fit-content;
     }

     .contenedorProductosTexto {
      height: 3.375rem;

      .contenedorProductosP {
       font-size: 0.9rem;

       >p {
        font-size: 0.9rem;
       }
      }

     }

     .contenedorBotonDetalles {
      display: flex;
      justify-content: center;
      height: 25%;
      align-self: center;

      >a {
       >button {
        background: linear-gradient(pink, white);
        border: 1px solid black;
        border-radius: 0.25rem;
        padding: 2px;
        color: black;
        margin: 5px 0 5px;
        font-family: "Lexend", sans-serif;
        font-size: 0.845rem;
        cursor: pointer;
       }
      }
     }
    }
   }
  }
 }
}

@media only screen and (min-width: 424px) and (max-width: 734px) {
 .productos {
  animation: none;

  .productosCatalogo {
   .contenedorCatalogoProductos {
    justify-content: center;
    display: flex;
    width: 33.3%;

    .contenedorProductos {
     border: 3px solid pink;
     background-color: rgba(255, 192, 203, 0.412);
     margin: 0.5rem;
     border-radius: 0.4rem;
     width: 9rem;
     height: fit-content;
     padding: 0.5rem 0.5rem 0;
     flex-wrap: wrap;

     .contenedorProductosImg {
      margin: 0;
      height: fit-content;
     }

     .contenedorProductosTexto {
      height: 4.5rem;

      .contenedorProductosP {
       font-size: 0.9rem;
      }
     }

     .contenedorBotonDetalles {
      justify-content: center;
      display: flex;
      height: 25%;

      >a {
       >button {
        background: linear-gradient(pink, white);
        border: 1px solid black;
        border-radius: 0.25rem;
        padding: 2px;
        color: black;
        margin: 5px 5px 5px;
        font-family: "Lexend", sans-serif;
        font-size: 0.845rem;
        cursor: pointer;
       }
      }
     }
    }
   }
  }
 }
}

@media only screen and (min-width: 550px) and (max-width: 644px) {
 .productos {
  animation: none;

  .productosCatalogo {
   .contenedorCatalogoProductos {
    justify-content: center;
    display: flex;
    width: 25%;

    .contenedorProductos {
     border: 3px solid pink;
     background-color: rgba(255, 192, 203, 0.412);
     margin: 0.5rem;
     border-radius: 0.4rem;
     width: 10rem;
     height: fit-content;
     padding: 0.5rem 0.5rem 0;
     flex-wrap: wrap;

     .contenedorProductosImg {
      margin: 0;
      height: fit-content;
     }

     .contenedorProductosTexto {
      height: 4.5rem;

      .contenedorProductosP {
       font-size: 0.9rem;
      }
     }

     .contenedorBotonDetalles {
      justify-content: center;
      display: flex;
      height: 25%;

      >a {
       >button {
        background: linear-gradient(pink, white);
        border: 1px solid black;
        border-radius: 0.25rem;
        padding: 2px;
        color: black;
        margin: 5px 5px 5px;
        font-family: "Lexend", sans-serif;
        font-size: 0.845rem;
        cursor: pointer;
       }
      }
     }
    }
   }
  }
 }
}

@media only screen and (min-width: 645px) and (max-width: 800px) {
 .productos {
  animation: none;

  .productosCatalogo {
   .contenedorCatalogoProductos {
    justify-content: center;
    display: flex;
    width: 25%;

    .contenedorProductos {
     border: 3px solid pink;
     background-color: rgba(255, 192, 203, 0.412);
     margin: 0.5rem;
     border-radius: 0.4rem;
     width: 10rem;
     height: fit-content;
     padding: 0.5rem 0.5rem 0;
     flex-wrap: wrap;

     .contenedorProductosImg {
      margin: 0;
      height: fit-content;
     }

     .contenedorProductosTexto {
      height: 3.375rem;

      .contenedorProductosP {
       font-size: 0.9rem;
      }
     }

     .contenedorBotonDetalles {
      justify-content: center;
      display: flex;
      height: 25%;
      margin-bottom: 1rem;

      >a {
       >button {
        background: linear-gradient(pink, white);
        border: 1px solid black;
        border-radius: 0.25rem;
        padding: 2px;
        color: black;
        margin: 5px 5px 5px;
        font-family: "Lexend", sans-serif;
        font-size: 0.845rem;
        cursor: pointer;
       }
      }
     }
    }
   }
  }
 }
}

@media only screen and (min-width: 801px) and (max-width: 930px) {
 .productos {
  animation: none;

  .productosCatalogo {
   .contenedorCatalogoProductos {
    justify-content: center;
    display: flex;
    width: 20%;

    .contenedorProductos {
     border: 3px solid pink;
     background-color: rgba(255, 192, 203, 0.412);
     margin: 0.5rem;
     border-radius: 0.4rem;
     width: 100%;
     height: fit-content;
     padding: 0.5rem 0.5rem 0;
     flex-wrap: wrap;

     .contenedorProductosImg {
      margin: 0;
      height: fit-content;
     }

     .contenedorProductosTexto {
      height: 3.375rem;

      .contenedorProductosP {
       font-size: 0.9rem;
      }
     }

     .contenedorBotonDetalles {
      justify-content: center;
      display: flex;
      height: 25%;
      margin-bottom: 1rem;

      >a {
       >button {
        background: linear-gradient(pink, white);
        border: 1px solid black;
        border-radius: 0.25rem;
        padding: 2px;
        color: black;
        margin: 5px 5px 5px;
        font-family: "Lexend", sans-serif;
        font-size: 0.845rem;
        cursor: pointer;
       }
      }
     }
    }
   }
  }
 }
}

@media only screen and (min-width: 931px) {
 .productos {
  animation: none;

  .productosCatalogo {
   .contenedorCatalogoProductos {
    justify-content: center;
    display: flex;
    width: 20%;

    .contenedorProductos {
     border: 3px solid pink;
     background-color: rgba(255, 192, 203, 0.412);
     margin: 1rem;
     border-radius: 0.4rem;
     width: 100%;
     height: fit-content;
     padding: 0.5rem 0.5rem 0;
     flex-wrap: wrap;

     .contenedorProductosImg {
      margin: 0;
      height: fit-content;
     }

     .contenedorProductosTexto {
      height: 3.375rem;

      .contenedorProductosP {
       font-size: 0.9rem;
      }
     }

     .contenedorBotonDetalles {
      justify-content: center;
      display: flex;
      margin-bottom: 1rem;

      >a {
       >button {
        background: linear-gradient(pink, white);
        border: 1px solid black;
        border-radius: 0.25rem;
        padding: 2px;
        color: black;
        margin: 5px 5px 5px;
        font-family: "Lexend", sans-serif;
        font-size: 0.845rem;
        cursor: pointer;
       }
      }
     }
    }
   }
  }
 }
}

@media only screen and (min-width: 1035px) {
 .productos {
  .productosCatalogo {
   .contenedorCatalogoProductos {
    justify-content: center;
    display: flex;

    .contenedorProductos {

     -webkit-transition: 0.3s ease-in-out;
     transition: transform 0.3s ease-in-out;

     &:hover {
      -webkit-transform: scale(1.025);
      transform: scale(1.025);
      background-color: pink;
      border-radius: 0.5rem;
     }


     .contenedorBotonDetalles {
      justify-content: center;
      display: flex;
      height: 25%;
      margin-bottom: 1rem;

      >a {
       >button {
        background: linear-gradient(pink, white);
        border: 1px solid black;
        border-radius: 0.25rem;
        padding: 2px;
        color: black;
        margin: 5px 5px 5px;
        font-family: "Lexend", sans-serif;
        font-size: 0.845rem;
        cursor: pointer;
       }
      }
     }
    }
   }
  }
 }
}

//media Contacto
@media only screen and (max-width: 799px) {
 .contacto {
  .contactoTelefono {
   padding-bottom: 0;
  }
 }
}

@media only screen and (min-width: 800px) and (max-width: 1220px) {
 .contacto {
  .contactoTelefono {
   padding-bottom: 0;
  }
 }
}