//imports de fuentes
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

//slider
@keyframes slide {
	0% {
		transform: translateX(0);
	}

	10% {
		transform: translateX(0);
	}

	15% {
		transform: translateX(-100%);
	}

	30% {
		transform: translateX(-100%);
	}

	35% {
		transform: translateX(-200%);
	}

	50% {
		transform: translateX(-200%);
	}

	55% {
		transform: translateX(-300%);
	}

	70% {
		transform: translateX(-300%);
	}

	75% {
		transform: translateX(-400%);
	}

	90% {
		transform: translateX(-400%);
	}

	95% {
		transform: translateX(-500%);
	}

	100% {
		transform: translateX(-500%);
	}
}

//configuraciones generales
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;

	&:visited {
		color: black;
	}
}

ul {
	list-style: none;
}

//rrss íconos
.logoFb,
.logoInsta,
.logoWhats {
	>img {
		display: inline-block;
		padding: 5px;
		width: 2.9rem;
		border-radius: .7rem;
		opacity: 0.79;

	}
}

.logoFb {
	bottom: 7rem;
	right: .2rem;
	position: fixed;
	z-index: 1000;
}

.logoInsta {
	bottom: 9.5rem;
	right: .2rem;
	position: fixed;
	z-index: 1000;

	>img {
		border-radius: 1rem;
	}
}

.logoWhats {
	bottom: 12rem;
	right: .2rem;
	position: fixed;
	z-index: 1000;

	>img {
		border-radius: 1rem;
	}
}

//flecha-arriba

#upArrow {
	>img {
		position: fixed;
		bottom: 5rem;
		right: .5rem;
		cursor: pointer;
		width: 2.2rem;
		background-color: rgba(249, 102, 129, 0.541);
		font-size: 20px;
		border-radius: .3rem;
		-webkit-border-radius: .3rem;
		z-index: 1000;
		padding: 5px;
		display: inline-block;
	}
}


// Header
header {
	display: flex;
	flex-direction: column;
	background-color: pink;
	box-shadow: rgb(236, 116, 136) 0 0 10px 5px;

	.headerTexto {
		display: flex;
		align-items: center;
		justify-content: center;
		align-self: stretch;

		>h1 {
			font-family: 'Dancing Script';
			font-size: 4.5rem;
		}

		>img {
			height: 4rem;
			width: 3.5rem;
			padding-left: .5rem;
		}
	}

	>nav {
		padding: .5px 0 0;

		>ul {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin: 0;
			font-weight: bold;
			color: black;
			font-family: 'Lexend',
				sans-serif;

			>li {
				>a {
					transition: color .2s;
					font-size: 1.95rem;

					&:hover {
						color: rgb(230, 61, 89);
					}
				}
			}
		}
	}
}

// Slider
.sliderBolsas {
	width: 100%;
	margin: auto;
	padding: 1rem 0 0;
	overflow: hidden;

	>ul {
		display: flex;
		padding: 0;
		width: 400%;
		animation: sliderBolsas 15s linear infinite alternate;

		>li {
			width: 100%;
			text-align: center;

			>img {
				width: 50%;
			}
		}
	}
}


// Productos
.productos {
	display: flex;
	padding-top: 3rem;
	font-family: 'Lexend',
		sans-serif;
	flex-direction: column;
	align-items: center;

	.productosTitulo {
		font-size: 1.5rem;
		padding-bottom: 1rem;
		animation: tituloEfecto 2s infinite alternate;
	}

	.productosCatalogo {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: center;

		.contenedorProductos {
			width: 200px;
			height: 25%;
			padding: .5rem .5rem 0;
			border-color: pink;
			border-radius: .5rem;

			.contenedorProductosTexto {
				>a {
					>button {
						background: linear-gradient(pink, white);
						border: 1px solid black;
						border-radius: .25rem;
						padding: 2px;
						color: black;
						margin: 3px 1px 5px;
						font-family: 'Lexend',
						sans-serif;
						font-size: .845rem;
						cursor: pointer;
					}
				}
			}


			.contenedorProductosImg {
				>img {
					width: 100%;
					object-fit: cover;
				}
			}


			.contenedorProductosTexto {
				padding: 0;
				margin: 0;

				>a {
					text-decoration: underline;
				}
			}
		}
	}
}

// Contacto
.contacto {
	display: flex;
	flex-direction: column;
	font-family: 'Lexend',
		sans-serif;
	margin: 3rem 0 0;
	padding: .5rem 0 1rem;
	background-color: pink;

	.contactoTitulo {
		font-size: 1.5rem;
		animation: tituloEfecto 2s infinite alternate;
		align-self: center;
	}

	.contactoTelefono {
		display: flex;
		padding-bottom: 1.2rem;
		flex-direction: column;
		align-items: center;

		.contactoTelefonoNumero {
			>a {
				font-size: 1.5rem;
			}
		}
	}

}




//animación Título header
@keyframes tituloEfecto {
	0% {
		color: black;
	}

	100% {
		color: rgb(230, 61, 89);
	}
}


//animación SliderBolsas
@keyframes sliderBolsas {
	0% {
		margin-left: 0;
	}

	20% {
		margin-left: 0;
	}

	25% {
		margin-left: -100%;
	}

	45% {
		margin-left: -100%;
	}

	50% {
		margin-left: -200%;
	}

	70% {
		margin-left: -200%;
	}

	75% {
		margin-left: -300%;
	}

	100% {
		margin-left: -300%;
	}
}

//media Html
@media only screen and (max-width: 568px) {
	html {
		width: 100%;
	}
}

//media Header
@media only screen and (max-width: 568px) {
	header {
		width: 100%;
		align-self: stretch;
		justify-content: space-around;

		.headerTexto {
			padding-top: .25rem;

			>h1 {
				font-size: 3.3rem;
				padding-left: .2rem;
			}
		}

		>nav {
			justify-content: center;

			>ul {
				>li {
					>a {
						font-size: 1.3rem;
						padding-left: .4rem;
					}
				}
			}
		}
	}
}

//media SliderBolsas
@media only screen and (max-width: 600px) {
	.sliderBolsas {
		>ul {
			>li {
				>img {
					width: 100%;
				}
			}
		}
	}
}

@media only screen and (min-width: 735px) and (max-width: 1000px) {
	.sliderBolsas {
		>ul {
			>li {
				>img {
					width: 80%;
				}
			}
		}
	}

	#productos {
		animation: none;

		.productosCatalogo {
			animation: none;

			.contenedorProductos {
				background-color: rgb(255, 198, 208);
				margin: .5rem;
			}
		}
	}
}

//media Productos
@media only screen and (max-width: 568px) {
	.productos {
		animation: none;

		.productosCatalogo {
			.contenedorProductos {
				background-color: rgb(255, 198, 208);
				margin: .5rem;
				border-radius: .40rem;
				width: 9rem;
				height: 25%;
				justify-content: center;
				align-items: center;
				padding: .5rem .5rem 0;

				.contenedorProductosImg {
					margin: 0;
					height: fit-content;
				}

				.contenedorProductosTexto {
					padding: 0;
					margin: 0;
					font-size: .9rem;

						>a {
							>button {
								background: linear-gradient(pink, white);
								border: 1px solid black;
								border-radius: .25rem;
								padding: 2px;
								color: black;
								margin: 3px 22.5px 5px;
								font-family: 'Lexend',
									sans-serif;
								font-size: .845rem;
								cursor: pointer;
							}
						}
				}
			}
		}
	}
}

@media only screen and (min-width: 735px) and (max-width: 1000px) {
.productos{
	.productosCatalogo{
		.contenedorProductos{
			.contenedorProductosTexto{
				>a {
					>button {
						background: linear-gradient(pink, white);
						border: 1px solid black;
						border-radius: .25rem;
						padding: 2px;
						color: black;
						margin: 3px 51px 5px;
						font-family: 'Lexend',
							sans-serif;
						font-size: .845rem;
						cursor: pointer;
					}
				}
			}
		}
	}
}

}

@media only screen and (min-width: 950px) and (max-width: 1800px) {
	.productos {
		.productosCatalogo {
			.contenedorProductos {
				-webkit-transition: .3s ease-in-out;
				transition: transform .3s ease-in-out;

				&:hover {
					-webkit-transform: scale(1.025);
					transform: scale(1.025);
					background-color: pink;
					border-radius: .5rem;
				}
			}
		}
	}
}

//media Contacto
@media only screen and (max-width: 799px) {
	.contacto {
		.contactoTelefono {
			padding-bottom: 0;
		}
	}
}

@media only screen and (min-width: 800px) and (max-width: 1220px) {
	.contacto {
		.contactoTelefono {
			padding-bottom: 0;
		}
	}
}